<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Schronisko</title>
    <link href="../static/css/MainStyle.css"
          th:href="@{/css/MainStyle3.css}"
          rel="stylesheet" media="screen" />
</head>


<body>
<div class="header"><h1>Schronisko Reksio i Klakier</h1></div>

<div class="buttonField bg">
    <button class="blist">
        Strona główna
    </button>
</div>

<div class="buttonField categories bg" >
    <span> KATEGORIE: </span>
    <a href="/resetSort"><span> Wszystkie,</span></a>
<span th:each="type : ${types}">
    <a th:href="'/sort?type='+${type}"><span th:text="${type.PL_TYPE}+','"/></a>
</span>
</div>

<div class="list bg"> <a class="listTitle"> Zwierzaki szukajace domu: </a>
    <table>
        <tbody>
        <div class="pet" th:each="pet : ${database}">
            <tr class="pet">
            <td class="pet noMargin">
                <a th:href="@{'/pet?name='+${pet.name}}">
                    <img width="140" height="100" th:src="${pet.imgSrc}" />
                </a>
            </td>
            <td class="pet noMargin">
                <a th:href="@{'/pet?name='+${pet.name}}">
                    <span th:text="${pet.name}">
                        PET NAME
                    </span>
                    <br/>
                    <span th:text="' - '+${#strings.abbreviate(pet.description,30)}">
                        PET DESCRIPTION$
                    </span>

                </a>
            </td>
            </tr>
        </div>
        </tbody>
    </table>

</div>

</body>
</html>