<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        body{

        }
    </style>
    <meta charset="UTF-8"/>
    <title>Schronisko</title>
    <link href="../static/css/NewStyle.css"
          th:href="@{/css/NewStyle3.css}"
          rel="stylesheet" media="screen" />
</head>


<body>
<div class="header"><h1>Schronisko Reksio i Klakier</h1></div>

<div class="buttonField bg">
    <button class="blist">
        Strona główna
    </button>
</div>

<div class="buttonField categories bg" >
    <span class="category"> KATEGORIE: </span>
    <a href="/resetSort"><span class="category"> Wszystkie,</span></a>
<span th:each="type : ${types}">
    <a class="category" th:href="'/sort?type='+${type}"><span th:text="${type.PL_TYPE}+','"/></a>
</span>
</div>

<div class="list bg"> <a class="listTitle"> Zwierzaki szukajace domu: </a>
    <table>
        <tr class="pet grow" th:each="pet : ${database}">
            <td class="petImgBorder">
                <a th:href="@{'/pet?name='+${pet.name}}">
                    <img class="petImg grow"  th:src="${pet.imgSrc}" />
                </a>
            </td>
            <td class="petName">
                <a th:href="@{'/pet?name='+${pet.name}}">
                    <span class="petNameInName" th:text="${pet.name}">
                        PET NAME
                    </span>
                    <br/>
                    <span th:text="' - '+${#strings.abbreviate(pet.description,45)}">
                        PET DESCRIPTION$
                    </span>

                </a>
            </td>
            </tr>
    </table>

</div>

</body>
</html>